@media (prefers-color-scheme: light) {
  hbox {
    --mycolor: black;
    border: 2px solid blue;
  }
}

@media (prefers-color-scheme: dark) {
  hbox {
    --mycolor: white;
  }
}

hbox {
  color: var(--mycolor);
  background-color: red !important;
}

scrollarea::scrollbar {
  width: 12px;
}

@media (os-version: macos) {
  hbox {
    --toolbar-padding: 12px;
  }
}
