@media (prefers-color-scheme: dark) {
  * {
    --bgcolor: black;
  }
}

@media (prefers-color-scheme: light) {
  * {
    --bgcolor: white;
  }
}

hbox {
  background-color: var(--bgcolor);
  padding: 0px;
  margin: 42px!important;
}

hbox {
  margin: 10px;
}

@media (os-version: macos) {
  hbox {
    padding: 10px;
  }
}
