@media (prefers-color-scheme: light) {
  :root {
    background-color: #DDD;
  }
  button {
    background-color: #CCC;
    color: black;
  }
  button:hover {
    background-color: #EEE;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #333;
  }
  button {
    margin: 30px;
    background-color: #222;
    color: white;
  }
  button:hover {
    background-color: #444;
  }
}

.foo {
  border-radius: 15px;
}

